

{% extends 'base/base.html' %}
{% load static %}
{% load staticfiles %}
{% block title %} Confort {% endblock %}
{% block content %}
<div class="wrapper col5">
  <div id="container">
    <div itemscope itemtype="http://schema.org/ScholarlyArticle">
		
		<h2 itemprop="name" color="black" align="center">Servidor Web</h2>
		<hr/>

		<p>	
			La arquitectura de esta parte del proyecto también es centralizada, como en las otras dos
			partes, quiere decir que todo el sistema va conectado al arduino mega que tenemos en el
			interior de la caja estanca.
			<img src="{% static 'admin/img/1s.PNG' %}"  width="700" alt="Servidor Web">	
			<p>En esta caja tenemos 4 elementos diferenciados:</p>
			<ul>
				<li>Tenemos el arduino mega con su escudo de Ethernet con el que se ha creado el servidor web
					, para utilizarlo como interface y gobernar a través de los circuitos de la vivienda.</li>
				<img itemprop="image" src="{% static 'admin/img/2s.PNG' %}"  width="700" alt="arduino mega">	
				<li>También tenemos un módulo de relés</li>
				<li>También se puede apreciar la placa multiperforadora donde se encuentran los 4 transistores
					y el integrado 7404 de puertas not</li>				
			</ul>
			</p>
		
		<p>		
			 	el rac de telecomunicaciones de la vivienda, el
				cual se ha utilizado para dar servicio de internet a la shield de Ethernet y para alojar las 2
				fuentes de alimentación, a través de este rac , se ha instalado el cableado multifilar que
				comunica con los relés de los circuitos que se encuentran en el cuadro de
				telecomunicaciones.

		</p>
		<P>El relé para cortar el suministro del mega se encuentra en el rac de telecomunicaciones</P>
		<img itemprop="image" src="{% static 'admin/img/3s.PNG' %}"  width="700" alt="El relé">		
		<p>
			aquí estaría lo que podríamos denominar como la parte de la
			fuerza de la instalación domótica .</p>	
		<img itemprop="image" src="{% static 'admin/img/4s.PNG' %}"  width="700" alt="fuerza de la instalación">		
		<p>
			Aquí se puede apreciar la placa multiperforadora ,donde se encuentra soldado el cable que
			viene del arduino previamente pasando por el transistor y un cable hembra para la
			estimulación del relé, y en la parte de potencia de los relés se observan las fases de los
			circuitos.
			</p>	
		<img itemprop="image" src="{% static 'admin/img/5s.PNG' %}"  width="700" alt="placa multiperforadora">	
		<p>
			Los relés de la parte derecha , son los del accionamiento de la persiana, donde se tuvo que
			hacer lo siguiente</p>
		<img src="{% static 'admin/img/6s.PNG' %}"  width="700" alt="accionamiento de la persiana">				
		<hr/>
		
		<h2>Esquema de montaje</h2>
		<hr/>
		<img itemprop="image" src="{% static 'admin/img/7s.PNG' %}"  width="700" alt="Esquema de montaje">	

		
		</div>
		<br class="clear" />
	</div>
</div>
{% endblock %}