

{% extends 'base/base.html' %}
{% block title %} Confort {% endblock %}
{% block content %}
<div class="wrapper col5">
  <div id="container">
    <div id="content">
		<h2 color="black">Automatización de persianas</h2>
		<p>Este bloque es uno más que se controla a través de la interface del servidor que hemos creado, lo que sí que se tuvo que preinstalar fue una persiana con motor. Cuando accionamos este circuito tenemos 2 opciones en la interface o subir la persiana o bajarla</p>
		<br>
		<br>
		<iframe width="420" height="315" src="https://www.youtube.com/watch?v=BrG3vA7Fwqw" frameborder="0" allowfullscreen></iframe>
		<h2>Control de iluminación</h2>
		<p>En la parte del control de iluminación, lo que controlamos es el encendido y apagado de la luz de la casa: sala, cocina, baños dormitorios garaje etc.</p>
		<h2>Control llenado y vaciado del tanque</h2>
		<p>este bloque controla el llenado del tanque donde se deposita el agua del hogar, siendo automático el llenado cuando este se encuentra vacío o cerrando el caudal cuando este esté lleno</p>
		</div>
		<br class="clear" />
	</div>
</div>
{% endblock %}