<!DOCTYPE html>
<html lang="es">
<head>
{% load static %}
{% block head %}

	<meta charset="UTF-8">

	<meta property="og:title" content="Domo Arduino"/>
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://domoarduino.herokuapp.com/" />
	<meta property="og:description" content="Pagina que ofrece informacion de tecnologias creadas con arduino para hacer nuestra casa mas tecnologica."/>
	<meta property="og:image" content="https://drive.google.com/file/d/1xaAyF3HuRB4fuLZXfM-JmKIGvS8lSAX7/view?usp=sharing"/>
	<title>{% block title %} Domo Arduino {% endblock %}</title>

{% endblock %}
<link rel="icon" type="image/png" href="{% static 'admin/img/logo_oficial.ico' %}"/>	
<link rel="stylesheet" href="{% static 'admin/css/estilos.css' %}">
<script type="text/javascript">
	function myFunction() {
   	if(document.getElementById("cbox").checked){
   			document.getElementsByTagName("body")[0].style.backgroundColor = "#212f3c";
   }
   else{
   	location.reload(); 
   }
}	 
</script>
</head>

<body>
	<header id="header">
		<nav>
			<ul class="nav">
				<li><a href="#">Seguridad</a>
					<ul>
						<li><a href="#">Paso a paso</a></li>
					</ul>
				</li>

				<li><a href="#">Confort</a>
					<ul>
						<li><a href="#">Paso a paso</a></li>
					</ul>
				</li>

				<li><a href="#">Ocio</a>
					<ul>
						<li><a href="#">Paso a paso</a></li>
					</ul>
				</li>

				<li><a href="#">Contactenos</a></li>
			</ul>
		</nav>
	{% block header %}

		Soy el encabezado de la pagina
		
	{% endblock %}
	</header>
	
	<div class="content">
	{% block content %}
		AM
		<label class="switch">
  			<input type="checkbox" id="cbox" checked onclick="myFunction()">
  			<span id="slider" class="slider round"></span>
		</label>
		PM
		<br><br><br>
		Este es el Contenido de la pagina

	{% endblock %}
	</div>
	
	<footer>
	{% block footer %}
	<div class="content">
		Todos los derechos reservados ©. DomoArduino 2018
	</div>
	{% endblock %}
	</footer>

</body>
</html>