{% load static from staticfiles %}
@charset "utf-8";


html{overflow-y:scroll;}
body{margin:0; padding:0; font-size:16px; font-family:verdana, Arial, Helvetica, sans-serif; color:#212f3c; background:url({% static 'admin/img/logo_oficial.png %}');}

br.clear{clear:both; margin-top:-15px;}

/* ----------------------------------------------Wrapper------------------------------------- */

div.wrapper{display:block; width:100%; margin:0; text-align:justify;}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{margin:0 0 15px 0; padding:0; font-size:20px; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif;}
.col1, .col1 a{color:#FFFFFF; background-color:#333335;}
.col2{color:#FFFFFF; }
.col3{color:#999999; border-bottom:1px solid #D51D29;}
.col4{color:black; border-bottom:1px solid #D51D29;background-color:#00ff8a;}
.col4 a{color:#FFFFFF; background-color:#232323;}
.col5{color:#666666; background-color:#FFFFFF;}
.col5 a{color:#D51D29; background-color:#FFFFFF;}
.col6{color:#98989A; background-color:#2D2B2B; border-top:1px solid #D51D29;}
.col6 a{color:#CCCCCC; background-color:#2D2B2B;}
.col7, .col7 a{color:#605B5B; background-color:#333333;}
.col8{color:#98989A; background-color:skyblue; border-top:1px solid #D51D29;}
/* ----------------------------------------------Generalise------------------------------------- */

#topbar, #header, #topnav, #intro, #breadcrumb, #container, #footer, #copyright
{display:block; position:relative; width:1070px; margin: auto;}

/* ----------------------------------------------TopBar------------------------------------- */

#topbar{padding:10px 0;}
#topbar p{float:left; margin:0; padding:0;}
#topbar ul{float:right; margin:0; padding:0; list-style:none;}
#topbar li{display:inline; margin:0 8px 0 0; padding:0 10px 0 0; border-right:1px solid #FFFFFF;}
#topbar li.last{margin-right:auto; padding-right:0; border:1px;}

/* ----------------------------------------------Header------------------------------------- */

#header{padding:20px 0;background: #2981cf}
#header h1, #header p{margin:0; padding:0;}
#header .fl_left{display:block; float:left; width:400px;}
#header .fl_right{display:block; float:right; width:468px;}
#header h1{margin:0; font-size:36px; border:none;}
#header h2 a{ font-size: calc(1.1em + 0.9vw);
  font-weight: 700;
  letter-spacing: .01em;
  padding: 10px 0 0 4.5rem;
  text-shadow: .05em .05em .05em #111;color: #c51031 ; background-color:#2981cf;}

 #eslogan{
  font-style: italic;
  font-size: 25px;
  color:#0d0d0d;
  text-align: center;
 }


/* ----------------------------------------------Content------------------------------------- */

#container{padding:20px 0; line-height:1.4em;}
#container h1, #container h2, #container h3, #container h4, #container h5, #container h6{padding-bottom:8px; border-bottom:1px dotted #CCCCCC;}
#content{display:block; float:left; width:600px;}

.imgl{
  float: left;
}

.containerImage {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  margin:auto;
  align-self: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.containerImage:hover .overlay {
  opacity: 1;
}

.textImage {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ----------------------------------------------Column------------------------------------- */

#column{display:block; float:right; width:300px;}


/* ----------------------------------------------FormularioEncuesta------------------------------------- */


.formulario{
    font-size: 16px;
    color: #001F3F;
    margin-bottom: 20px;
    margin-left: 20px;
    border-style: groove;
    background-color: HoneyDew  ;}
.entradasTexto {
  border-radius: 5px;
  background-color: #def;
 }
.parrafo{text-align: justify;padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;}
.Lab{display: block;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px}
.Radb{display:inline;}
.bt{ padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.btc{padding-top: 2px;
    padding-right: 210px;
    padding-bottom: 2px;
    padding-left: 210px;
}
.b{ padding-top: 2px;
    padding-right: 25px;
    padding-bottom: 2px;
    padding-left: 19px;
}
 



/* ----------------------------------------------Footer------------------------------------- */
/* ---- FOOTER ---- */


footer section {
  width:405px;
  float:left;
  padding:10px;
  display: inline;
}

footer #acerca-de, #recomendaciones {
  font-family:Arial, Helvetica, Sans-serif;
  font-size:12px;
  color:#919191;
  text-align:justify;
  line-height:20px;

}

#switchp{
    color: white;
}
  .est{
font-family:sourcesans-light;
  font-size:20px;
  color:#fff;
  margin-bottom:5px;

  }

.fori{
  display: inline;
}


  .lis{
font-family:sourcesans-light;
  font-size:20px;
  color:#8f1212;
  margin-bottom:5px;

  }
#t,#g,#lc,#fc{
  display: block;
}


/* ----------------------------------------------Copyright------------------------------------- */

#copyright{padding:10px 0; color:#fff;text-align: center;}
#copyright p a{margin:0; padding:0; color:#fff;text-align: center;}


#topnav{padding:15px 0; z-index:1000;background: #0c4883}
#topnav ul, #topnav li{background: #1564b3; margin:0; padding:0; list-style:none; font-size:17px; font-family:Georgia, "Times New Roman", Times, serif;}
#topnav li{float:left; margin-right:30px;}
#topnav li li{margin-right:0;}
#topnav li span{display:block; font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; text-transform:lowercase; color:#999999; background-color:#1564b3; font-weight:normal; line-height:normal; margin:0; padding:0;}
#topnav li a:link, #topnav li a:visited, #topnav li a:hover{display:block; margin:0; padding:0; color:#FFFFFF; background-color:#0c4883; text-transform:uppercase; font-weight:bold;}
#topnav ul ul li a:link, #topnav ul ul li a:visited{border:none;}
#topnav li a:hover, #topnav li.active a{color:#D51D29; background-color:#0c4883;}
#topnav li li a:link, #topnav li li a:visited{width:150px; float:none; margin:0; padding:7px 10px; font-size:12px; font-weight:normal; color:#FFFFFF; background-color:#4C4C4E; border:none;}
#topnav li li a:hover{color:#D51D29; background-color:#1564b3;}
#topnav ul ul{z-index:9999; position:absolute; left:-999em; height:auto; width:170px;}
#topnav ul ul a{width:140px;}
#topnav li:hover ul{left:auto;}
#topnav li:hover{position:static;}
#topnav li.last{margin-right:auto;}

#featured_content, #featured_content ul{display:block; width:850px; height:138px; margin:0; padding:0; list-style:none; overflow:hidden;}
#featured_content li{display:block; position:relative; float:left; width:150px; height:130px; margin:0 15px 0 0; padding:3px; color:#999999; background-color:#232323; border:1px solid #494949; overflow:hidden;}
#featured_content li.last{margin-right:auto;}


#featured_content img{display:block; width:150px; height:130px;}


#featured_slide{position:relative; margin:0 auto; display:block; width:850px; height:138px; padding:30px 55px; overflow:hidden; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; background-color:#b2c7da;}
#featured_slide a, #featured_slide ul, #featured_slide img{margin:0; padding:0; border:none; outline:none; list-style:none; text-decoration:none;}



 /*--------------------------------------------------------Switch estilo ----------------------------------------------------------*/
  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .6s;
  transition: .6s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 10px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .6s;
  transition: .6s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*-----------------------------------------------------------Table form---------------------------------------------*/

table{
  text-align: center;
  background-color:  #95a5a6;
  width: 25%;
  margin: auto;
  border: 6px   #f4d03f  groove;

}

td{
  padding: 15px;
  color: black;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}